<h1><%= @post.title %></h1>

<% @category.posts.each do |p| %>
  <li><%= link_to p.title, post_path(p) %></li>
<% end %>
<!-- Add code here to link to the post's category. -->

<p><%= @post.description %></p>
